<div class="container">
  <%= render 'shared/back' %>
<div class="d-flex justify-content-between mt-2">
  <h1>Cash</h1>
  <div class="d-flex h-50 gap-3">
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#cashWithdrawalModal">Withdrawal</button>
    <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#cashDepositModal">Deposit</button>
  </div>
</div>
<h3>All cash total = <%= @total %></h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Deposit date</th>
        <th scope="col">Amount</th>
        <th scope="col">Source</th>
      </tr>
    </thead>
    <tbody>
        <% counter = 1 %>
        <% @cashes.each do |cash| %>
      <tr>
          <th scope="row"><%= counter %></th>
          <td><%= cash.created_at.to_date %></td>
          <td><%= cash.amount %></td>
          <td><%= cash.sources %></td>
          <td class=" pb-0 text-left w-25">
            <%= link_to cash_path(cash.id), method: :delete, data: { confirm: "Are you sure you want to delete this cash?", disable_with: "Processing..." } do %>
              <i class="far fa-trash-alt" style="color: #ec524b;"></i>
            <% end %>
          </td>
      </tr>
          <% counter += 1 %>
        <% end %>
    </tbody>
  </table>
</div>
<%#= render partial: 'new_cash_modal', locals:{ new_cash: @new_cash } %>
<%= render partial: 'cash_deposits/new_cash_deposit_modal', locals:{ new_deposit: @new_deposit } %>
<%= render partial: 'cash_withdrawals/new_cash_withdrawal_modal', locals:{ new_withdrawal: @new_withdrawal } %>





