<div class="container">
<div class="d-flex justify-content-between mt-2">
  <h1>Bonds</h1>
  <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">Add new Bond</button>
</div>
<h3>All bonds total = <%= @total %></h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Interest rate</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        <% counter = 1 %>
        <% @bonds.each do |bond| %>
      <tr>
          <th scope="row"><%= counter %></th>
          <td><%= bond.start_date %></td>
          <td><%= bond.end_date %></td>
          <td><%= bond.interest_rate %>%</td>
          <td><%= bond.amount %></td>
          <td class=" pb-0">
            <p class="card-text d-flex flex-row-reverse justify-content-between">
              <button class="m-0" type="button" data-toggle="modal" data-target="#deletebondModal<%= bond.id %>">
                <i class="far fa-trash-alt" style="color: gray;"></i>
              </button>
              <button class="m-0" type="button" data-toggle="modal" data-target="#updatebondModal<%= bond.id %>">
                <i class="far fa-edit mx-3" style="color: gray;"></i>
              </button>
            </p>
          </td>
          <%= render partial: 'update_bond_modal', locals:{ bond: bond } %>
      </tr>
          <% counter += 1 %>
        <% end %>
    </tbody>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content" style="border-radius: 2rem;">

      <div class="modal-header mx-3">
        <h5 class="modal-title" id="exampleModalLabel">Creating new Menu item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for @new_bond, url: bonds_path do |f| %>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :amount %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :terms, collection: %w[monthly quarterly] , include_blank:" Choose Term " %>
                  </div>
                </div>
                 <div>
                   <%= f.input :start_date %>
                   <%= f.input :end_date %>
                   <%= f.input :interest_rate  %>
                   <%= f.hidden_field 'user_id', value: current_user.id %>
                 </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mx-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>

<!-- update bond data -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content" style="border-radius: 2rem;">

      <div class="modal-header mx-3">
        <h5 class="modal-title" id="exampleModalLabel">Creating new Menu item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container mt-3 bg-white">
          <div class="row">
            <div class="col-8 mx-auto">
              <%= simple_form_for @new_bond, url: bonds_path do |f| %>
                <div class="row g-3">
                  <div class="col-6">
                    <%= f.input :amount %>
                  </div>
                  <div class="col-6 ">
                    <%= f.input :terms, collection: %w[monthly quarterly] , include_blank:" Choose Term " %>
                  </div>
                </div>
                 <div>
                   <%= f.input :start_date %>
                   <%= f.input :end_date %>
                   <%= f.input :interest_rate  %>
                   <%= f.hidden_field 'user_id', value: current_user.id %>
                 </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer mx-3">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
         <%= f.button :submit, class:"btn btn-primary" %>
         <% end %>
      </div>

    </div>
  </div>
</div>
