<div class="container mt-4">

  <%= month_calendar(events: payouts, attribute: :payout_date, previous_link: events_ajax_previous_link, next_link: events_ajax_next_link) do |date, payouts| %>
  <%#= raise %>
  <% if date.friday? || date.saturday? %>
    <strong style="color: red;"><%= date.day %></strong>
  <% else %>
    <strong><%= date.day %></strong>
  <% end %>
    <hr class="m-0 mb-2">

    <% if payouts.any? %>
    <% payouts_amounts = [] %>
      <% payouts.each do |payout| %>
      <% payouts_amounts << payout.amount %>
        <div class="font-right-small d-flex justify-content-between mx-2" >
          <i class="fas fa-money-bill"></i>
          <p class="m-0"><%= humanized_money(payout.amount) %></p>
        </div>
      <% end %>
      <div class="m-0">
        <hr class="m-0 mb-1">
        <div class="font-right-small d-flex justify-content-between mx-2" >
          <p class="m-0" style="font-weight: bold;">Total</p>
          <p class="m-0"><%= humanized_money(payouts_amounts.sum) %></p>
        </div>
      </div>

    <% end %>
  <% end %>
</div>
<style>
  .red{
    color: red;
  }

  .font-right-small{
    font-size:0.7rem !important;
  }
</style>
